@import "tailwindcss";

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.inter-fontfamily {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}